
singularity {
  enabled = true
  autoMounts = true
}

params {
  // Containers
  bcftools      = 'bcftools.1.19'
  samtools      = 'samtools.1.9'
  bioconductor  = 'bioconductor.3.19'
  rocker        = 'rocker'
  rvs           = 'rvs.1.24.0'

  // Default params
  // gnomad_files  = "$SCRATCH/toy-datasets/vcf-gnomad/gnomad.exomes.v4.1.sites.*.vcf.bgz{,.tbi}"
  // clinvar_files = "$REFS/NCBI/ClinVar/GRCh38/*_20200520.vcf.gz{,.tbi}"
  genome        = 'hg38'
  style         = 'UCSC'
}

profiles {
  // Resource profiles
  local     { includeConfig 'conf/local.config' }
  cluster   { includeConfig 'conf/cluster.config' }
  dynamic   { includeConfig 'conf/dynamic.config' }
  
  // Test profile (Same as default params)
  test {
    params {
      gnomad_files  = "$SCRATCH/toy-datasets/vcf-gnomad/gnomad.exomes.v4.1.sites.*.vcf.bgz{,.tbi}"
      clinvar_files = "$REFS/NCBI/ClinVar/GRCh38/*_20200520.vcf.gz{,.tbi}"
      genome        = 'hg38'
      style         = 'UCSC'
    }
  }
}
